<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.credit.service.dao.BankCreditHeaderRequestMapper" >
  <resultMap id="BaseResultMap" type="com.credit.service.model.entity.BankCreditHeaderRequest" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="appId" property="appId" jdbcType="VARCHAR" />
    <result column="function" property="function" jdbcType="VARCHAR" />
    <result column="reqTime" property="reqTime" jdbcType="VARCHAR" />
    <result column="reqTimeZone" property="reqTimeZone" jdbcType="VARCHAR" />
    <result column="reqMsgId" property="reqmsgid" jdbcType="VARCHAR" />
    <result column="signType" property="signtype" jdbcType="VARCHAR" />
    <result column="inputCharset" property="inputcharset" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="reserve" property="reserve" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbg.generated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbg.generated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, appId, function, reqTime, reqTimeZone, reqMsgId, signType, inputCharset, version, 
    reserve
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.credit.service.dao.example.BankCreditHeaderRequestExample" >
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bank_credit_header_request
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.credit.service.dao.example.BankCreditHeaderRequestExample" >
    <!--
      WARNING - @mbg.generated
    -->
    delete from bank_credit_header_request
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.credit.service.dao.example.BankCreditHeaderRequestExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from bank_credit_header_request
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbg.generated
    -->
    update bank_credit_header_request
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.appId != null" >
        appId = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.function != null" >
        function = #{record.function,jdbcType=VARCHAR},
      </if>
      <if test="record.reqTime != null" >
        reqTime = #{record.reqTime,jdbcType=VARCHAR},
      </if>
      <if test="record.reqTimeZone != null" >
        reqTimeZone = #{record.reqTimeZone,jdbcType=VARCHAR},
      </if>
      <if test="record.reqMsgId != null" >
        reqMsgId = #{record.reqMsgId,jdbcType=VARCHAR},
      </if>
      <if test="record.signType != null" >
        signType = #{record.signType,jdbcType=VARCHAR},
      </if>
      <if test="record.inputCharset != null" >
        inputCharset = #{record.inputCharset,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve != null" >
        reserve = #{record.reserve,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbg.generated
    -->
    update bank_credit_header_request
    set id = #{record.id,jdbcType=BIGINT},
      appId = #{record.appId,jdbcType=VARCHAR},
      function = #{record.function,jdbcType=VARCHAR},
      reqTime = #{record.reqTime,jdbcType=VARCHAR},
      reqTimeZone = #{record.reqTimeZone,jdbcType=VARCHAR},
      reqMsgId = #{record.reqmsgid,jdbcType=VARCHAR},
      signType = #{record.signtype,jdbcType=VARCHAR},
      inputCharset = #{record.inputcharset,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR},
      reserve = #{record.reserve,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>



  <select id="selectByRequestId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from bank_credit_header_request
    where requestId=#{requestId}
  </select>

  <insert id="insertSelective" parameterType="com.credit.service.model.entity.BankCreditHeaderRequest" >
    insert into bank_credit_header_request
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appId != null" >
        appId,
      </if>
      <if test="function != null" >
        function,
      </if>
      <if test="reqTime != null" >
        reqTime,
      </if>
      <if test="reqTimeZone != null" >
        reqTimeZone,
      </if>
      <if test="reqMsgId != null" >
        reqMsgId,
      </if>
      <if test="signType != null" >
        signType,
      </if>
      <if test="inputCharset != null" >
        inputCharset,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="reserve != null" >
        reserve
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="function != null" >
        #{function,jdbcType=VARCHAR},
      </if>
      <if test="reqTime != null" >
        #{reqTime,jdbcType=VARCHAR},
      </if>
      <if test="reqTimeZone != null" >
        #{reqTimeZone,jdbcType=VARCHAR},
      </if>
      <if test="reqMsgId != null" >
        #{reqMsgId,jdbcType=VARCHAR},
      </if>
      <if test="signType != null" >
        #{signType,jdbcType=VARCHAR},
      </if>
      <if test="inputCharset != null" >
        #{inputCharset,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="reserve != null" >
        #{reserve,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>

</mapper>